@layout('master')

@section('content')

  <div class="business-hero">
    <div class="container">
      <h2 class="customFadeInUp">
        {{ antl.formatMessage('home.tagline') }}
      </h2>
      <p class="customFadeInUp">
        {{ antl.formatMessage('home.hero.1') }}
        <br>
        <br>
        {{ antl.formatMessage('home.hero.2') }}
      </p>

      <div class="actions customFadeInUp">
        <a href="#" class="btn-pill btn-pill-primary btn-pill-lg">{{ antl.formatMessage('home.action_button') }}</a>
      </div>
    </div>
  </div>

  <div class="spacial-features" data-scroll>
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h2>{{ antl.formatMessage('home.overview.title') }}</h2>
            <p>
              {{ antl.formatMessage('home.overview.desc') }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <img src="images/icons/spacial-devices.png">
            <h3>
              {{ antl.formatMessage('home.overview.1') }}
            </h3>
            <p>
              {{ antl.formatMessage('home.overview.1.desc') }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <img src="images/icons/spacial-download.png">
            <h3>
              {{ antl.formatMessage('home.overview.2') }}
              <span class="badge-new">{{ antl.formatMessage('home.button.hot') }}</span>
            </h3>
            <p>
              {{ antl.formatMessage('home.overview.2.desc') }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <img src="images/icons/spacial-location.png">
            <h3>
              {{ antl.formatMessage('home.overview.3') }}
            </h3>
            <p>
              {{ antl.formatMessage('home.overview.3.desc') }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <img src="images/icons/spacial-settings.png">
            <h3>
              {{ antl.formatMessage('home.overview.4') }}
            </h3>
            <p>
              {{ antl.formatMessage('home.overview.4.desc') }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="index-features" data-scroll>
    <div class="container">
      <header>
        <h3>{{ antl.formatMessage('home.category.title') }}</h3>
        <p>
          {{ antl.formatMessage('home.category.desc') }}
        </p>
      </header>
      <section class="features">
        <div class="row">
          <div class="col-md-6 feature">
            <img src="images/icons/features-icon-ok.png" class="icon" />
            <section>
              <h4>
                {{ antl.formatMessage('home.category.als') }}
              </h4>
              <ol>
                <li>{{ antl.formatMessage('home.category.als.1') }}</li>
                <li>{{ antl.formatMessage('home.category.als.2') }}</li>
                <li>{{ antl.formatMessage('home.category.als.3') }}</li>
                <li>{{ antl.formatMessage('home.category.als.4') }}</li>
                <li>{{ antl.formatMessage('home.category.als.5') }}</li>
              </ol>
            </section>
          </div>
          <div class="col-md-6 feature">
            <img src="images/icons/features-icon-canvas.png" class="icon" />
            <section>
              <h4>
                {{ antl.formatMessage('home.category.bls') }}
              </h4>
              <ol>
                <li>{{ antl.formatMessage('home.category.bls.1') }}</li>
                <li>{{ antl.formatMessage('home.category.bls.2') }}</li>
                <li>{{ antl.formatMessage('home.category.bls.3') }}</li>
                <li>{{ antl.formatMessage('home.category.bls.4') }}</li>
                <li>{{ antl.formatMessage('home.category.bls.5') }}</li>
                <li>{{ antl.formatMessage('home.category.bls.6') }}</li>
              </ol>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>

@endsection
