<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EMX - {{ pageTitle }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="scss/bootstrap/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="dist/theme.min.css" />

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="dist/theme.min.js"></script>
</head>
<body>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" role="navigation">
    <div class="container no-override">
      <a class="navbar-brand" href="">
        <img src="images/emx-logo.png" class="d-none d-lg-inline mr-2 w-25" />
        EMX
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.title') }}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.team') }}</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.white_paper') }}</a>
          </li>
          <li class="nav-item">
            <a href="{{ antl.formatMessage('home.link.github') }}" target="_blank" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.code') }}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.token_info') }}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.products') }}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">{{ antl.formatMessage('home.social') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--rounded" href="{{ antl.formatMessage('home.action') }}">{{ antl.formatMessage('home.action_button') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- main content -->
  @section('content')
  @endsection

  @include('partial.footer')
  <!--
  <div class="index-devices" data-scroll>
    <section class="clearfix">
      <img src="images/devices/devices-4.png" class="devices" />

      <h4>Looks great in any device</h4>
      <p>
        Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
      </p>
      <p>
        Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
      </p>
      <div class="icons">
        <i class="ion-monitor"></i>
        <i class="ion-ipad"></i>
        <i class="ion-iphone"></i>
      </div>
    </section>
  </div>

  <div class="business-single-client" data-scroll>
    <div class="quote-wrapper">
      <img src="images/customers/logo-customer-7-w.png" class="logo">
      <p>
        "Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers right out of the box while still getting great results in your environment."
      </p>
      <div class="author">
        John Smith, Product Designer
      </div>
    </div>
  </div>

  <div class="index-clients">
    <div class="container">
      <header>
        <h4>Used and trusted by these guys</h4>
      </header>
      <div class="row justify-content-center">
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/google.jpg">
        </div>
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/dropbox.jpg">
        </div>
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/fb.jpg">
        </div>
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/twitter.jpg">
        </div>
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/instagram.jpg">
        </div>
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/apple.jpg">
        </div>
        <div class="col-12 col-md-3 col-lg">
          <img class="img-fluid mb-4" src="images/logos/stripe.jpg">
        </div>
      </div>
    </div>
  </div>
  -->

  <script type="text/javascript">
    $(function () {
      var trigger = new ScrollTrigger({
        toggle: {
          visible: 'customFadeInUp'
        },
        offset: {
          y: 150
        },
        once: true
      });
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    // e.src='//www.google-analytics.com/analytics.js';
    // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    // ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
</body>
</html>

